
body, html {
	  width: 100%;
		height: 100%;
    font-family: 'Georgia', Trebuchet MS, arial, sans-serif;
		color: #0e1012;
}
@font-face {
    font-family: 'DINPro-Medium';
    src: url('font/DINPro-Medium/DINPro-Medium.eot');
    src: url('font/DINPro-Medium/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/DINPro-Medium/DINPro-Medium.woff') format('woff'),
    url('font/DINPro-Medium/DINPro-Medium.ttf') format('truetype'),
    url('font/DINPro-Medium/DINPro-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DINPro-Bold';
    /*src: url('font/DINPro-Bold/DINPro-Bold.eot');*/
    src:
/*     url('font/DINPro-Bold/DINPro-Bold.eot?#iefix') format('embedded-opentype'),*/
    url('font/DINPro-Bold/DINPro-Bold.woff') format('woff'),
    url('font/DINPro-Bold/DINPro-Bold.ttf') format('truetype'),
    url('font/DINPro-Bold/DINPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*@font-face {
    font-family: 'Georgia';
    src: url('font/Georgia/Georgia.eot');
    src: url('font/Georgia/Georgia.eot?#iefix') format('embedded-opentype'),
    url('font/Georgia/Georgia.woff') format('woff'),
    url('font/Georgia/Georgia.ttf') format('truetype'),
    url('font/Georgia/Georgia.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper{
    display: block;
    margin: 0 auto;
    min-width: 280px;
    min-height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.containerbig{
	display: block;
	margin: 0 auto;
	width: 1285px;
	max-width: 100%;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}
.containerb .container{
    max-width: 1170px;
}
.container{
    display: block;
    margin: 0 auto;
    max-width: 840px;
}
.container_size{
	max-width: 980px;
}
.full1{
	background: url('../images/bodyfull1.jpg') no-repeat center top;
	background-size: cover;
	min-height: 100%;
	min-height: 100vh;
}

.f-left{
    float: left;
}
.f-right{
    float: right;
}
.clear{
    clear: both;
}
.h1{
    font-family: 'DINPro-Bold';
    /*font-size: 30px;
    color:#ffa500;
    line-height: 35px;*/
    margin: 15px 0 15px 0;
}

p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 1em 0 1em 0;
		color: #0e1012;
		font-family: 'Georgia',arial, sans-serif;
}
.header{
    padding: 50px  0 50px  0;
		font-family: 'DINPro-Medium';
		font-size: 13px;
}


.logo_full{
	display: none;
}
.full1 .logo_full{
	display: block;
	position: absolute;
	left: 0;
	top: -20px;
}
.full1 .logo_top{
	display: none;
}
.logo_top{
    position: absolute;
		left: 0;
		top: -20px;
}

.mess_group{
	position: absolute;
	top: 0;
	right: 0;
}
.user_name{
	float: left;
	width: 25%;
}
.iconn_menu{
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}
.iconn_menu span{
	display: block;
	width: 25px;
	height: 1px;
	margin-bottom: 5px;
	background: #888c91;
}
.full1 .iconn_menu span{
	background-color: #ffffff;
}
.full1 .menu_name,
.full1  .messege,
.full1  .exit,
.full1 .user_name{
	color: #ffffff;
}
.menu_name{
	display: inline-block;
	vertical-align: top;
	color: #888c91;
	margin-left: 10px;
}
.sub_menu{
	display: inline-block;
	vertical-align: top;
	margin-left: 10%;
}
.sub_menu ul, .main_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.sub_menu ul li,
.main_menu ul li{
	display: inline-block;
	vertical-align: top;
}
.sub_menu ul li a,
.main_menu ul li a{
	font-size: 13px;
	color: #888c91;
	padding: 0 10px;
	text-decoration: none;
}
.full1 .sub_menu ul li a{
	color: #fff;
}
.sub_menu ul li a:hover,
.sub_menu ul li a.activ,
.main_menu ul li a:hover,
.main_menu ul li a:activ{
	color:  #e82828;
	text-decoration: none;
}
.messege, .exit{
	display: inline-block;
	vertical-align: top;
	color: #0e1012;
	font-size: 13px;
	text-decoration: none;
}
.menu_center{
	display: inline-block;
	vertical-align: top;
}
.messege:hover, .exit:hover{
	opacity: 0.9;
	text-decoration: none;
}
.exit{
	margin-left: 15px;
}
.mess_a{
	color: #e82828;
	font-size: 12px;
	margin-left: 5px;
}

.news_main{
	padding: 10% 0 5% 0;
	width: 700px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.news_main-d{
	padding: 10% 0 10% 0;
}
.text_main {
    padding: 0 0 5% 0;
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.news_name{
	color: #ffffff;
	font-size: 48px;
	line-height: 55px;
	padding: 45px 0 45px 0;
	/*font-family: 'DINPro-Bold';*/
	font-family: 'DINPro-Medium';
	text-transform: uppercase;
}
.news_name_d{
	color: #0e1012;
	font-size: 38px;
	line-height: 45px;
	font-family: 'DINPro-Medium';
	text-transform: uppercase;
}
.date{
	font-family: 'DINPro-Medium';
	color: #fff;
	font-size: 18px;
}
.date_d{
	color: #9ba1a9;
	font-family: 'DINPro-Medium';
	font-size: 15px;
}

.link_bott{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #171b1c;
	background-image: url('../images/arr_bottom.png');
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	margin: 30px auto;
	text-decoration: none;
}

.link_share{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-image: url('../images/share-d.png');
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	left: 0;
	bottom: -15px;
}
.full1 .link_share{
	background-image: url('../images/share.png');
}

.content{
	padding: 50px 0 50px 0;
}














.tab_wrap{
	overflow: auto;
}
.table{
	display: table;
	width: 100%;
	text-align: center;
	font-family: 'DINPro-Medium';
	font-size: 12px;
	color: #4c5158;
	border-bottom:  1px solid #f3f3f3;
}
.table_tr{
	display: table-row;
}
.table .table_td:first-child{
	color: #0e1012;
}
.table .table_tr:first-child .table_td{
	color: #989da3;
}
.table_td{
	display: table-cell;
	padding: 15px 10px;
	border-top: 1px solid #f3f3f3;
}
.table a{
	color: #2e8ed5;
	font-size: 11px;
	text-decoration: underline;
}
.tab_meneg a{
	color: #4c5158;
	font-size: 12px;
	text-decoration: none;
}
.table a:hover{
	text-decoration: none;
}
.t_color{
	color: #e82828;
}
.table_caption{
	color: #0e1012;
	font-size: 12px;
	text-transform: uppercase;
	margin: 0 0 25px 0;
	font-family: 'DINPro-Medium';
}
.hover_td{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
}
.aside_ul ul li a.hover_td{
	width: 70px;
}
.icon_td,
.aside_ul ul li a.icon_td {
	display: inline-block;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	text-decoration: none;
	margin: 0 5px;
}
.watch{
	background-image: url('../images/watch.png');
}
.chan{
	background-image: url('../images/chan.png');
}
.delete{
	background-image: url('../images/delete.png');
}
.categ_n{
	float: right;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 20px;
	color: #2e8ed5;
	text-decoration: none;
	line-height: 23px;
	border: 1px solid #2e8ed5;
	text-align: center;
	margin-top: -8px;
	text-transform: none;
}
.group_n{
	float: right;
	font-size: 13px;
	color: #2e8ed5;
	text-decoration: none;
	text-transform: none;
}

.tab_meneg .table_td{
	position: relative;
}
.tab_meneg  .hover_td{
	display: none;
}
.tab_meneg .table_tr{
	cursor: pointer;
}
.hover_tab{
	display: table;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.hover_cell{
	display: table-cell;
	vertical-align: middle;
}
.tab_meneg .table_tr:hover  .table_td:first-child {
    color: #4c5259;
}
.tab_meneg .table_tr:hover .hover_td{
	display: block;
}
.tab_meneg .table_tr:hover  .watch{
	opacity: 0;
}
.table .table_tr:first-child .open_val{
	 color: #989da3;
	 text-decoration: none;
}
/*.open_val:hover ~.valut_wrap{
	display: block;
	z-index: 10;
}*/
.valut_wrap{
	z-index: 10;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 5px 10px;
	background: #fff;
	-webkit-box-shadow: 1px 5px 10px 0px rgba(60, 60, 60, 0.5);
	-moz-box-shadow:    1px 5px 10px 0px rgba(60, 60, 60, 0.5);
	box-shadow:         1px 5px 10px 0px rgba(60, 60, 60, 0.5);
}
.valut_wrap a{
	display: block;
	margin: 10px 0;
	text-align: center;
	font-size: 12px;
	color: #989da3;
}
.valut_wrap a:hover{
	color: #4f5358;
}
.valut_wrap a.curr{
	color: #2e8ed5;
}






.aside_ul{

}
.aside_ul ul{
	list-style: none;
	margin: 40px 0 0 0;
	padding: 0;
}
.aside_ul ul li{
	display: block;
	margin: 0 0 0px 0;
	position: relative;
}
.aside_ul ul li:hover .hover_td{
	display: block;
}
.aside_ul ul li .hover_td{
	text-align: right;
	display: none;
}
.aside_ul ul li.drob a{
	display: block;
	max-width: inherit;
}
.aside_ul ul li a{
	text-decoration: none;
	font-size: 13px;
	color: #808891;
	margin: 0 0 20px 0;
	display: inline-block;
	vertical-align: middle;
	max-width: 80%;
	font-family: 'DINPro-Medium';
}
.aside_ul ul li a:hover{
	color: #0e1012;
}
.aside_ul ul.drobd{
	margin: 0;
	padding:  0 0 0 20px;
	display: none;
}

.icon_arr{
	display: inline-block;
	float: right;
	width: 15px;
	height: 10px;
	background-image: url('../images/arr_c.png');
	background-repeat: no-repeat;
	background-position: center center;
	-ms-transform: rotate(180deg);
	 -webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.open .icon_arr{
	-ms-transform: rotate(0deg);
	 -webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}









.block_news{
	background-image: url('../images/newsfon.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding: 50px 0 50px 0;
}
.block_slider{
    padding: 0 0 0% 0;
    width: 650px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.news_title{
    color: #888c91;
		font-family: 'DINPro-Medium';
    font-size: 18px;
		text-transform: uppercase;
}

.block_news .news_name {
    color: #ffffff;
    font-size: 47px;
    line-height: 55px;
    padding: 45px 0 45px 0;
    /* font-family: 'DINPro-Bold'; */
    font-family: 'DINPro-Medium';
    text-transform: uppercase;
}
.news_items{
	margin: 10px 0 10px 0;
	    padding-right: 23%;
			min-height: 210px;
}
.news_tit{
	font-size: 20px;
	font-family: 'DINPro-Bold';
	color: #000000;
	line-height: 25px;
	min-height: 90px;
	margin-bottom: 10px;
}
.date_d{
	color: #9ca2a9;
	font-size: 15px;
	font-family: 'DINPro-Medium';
}




@media (max-width: 1200px) {
	.mess_group {
	    position: relative;
	    top: inherit;
	    right: inherit;
	    text-align: right;
			padding-top: 35px;
	}
	.logo_top,
	.full1  .logo_full{
    position: relative;
    left: inherit;
    top: inherit;
}
.logo_top,
.logo_full{
	margin-bottom: 15px;
}
.header {
    padding: 15px 0 50px 0;
}
.content {
    padding: 0px 0 50px 0;
}
}
@media (max-width: 992px) {
	.news_items {
	    padding-right: 0;
	}
	.containerbig{
		padding: 0;
	}
	.logo_top img,
	.logo_full img{
		width: auto;
		max-width: 100%;
	}
}
@media (max-width: 767px) {
	.news_name_d {
		margin-top: 20px;
	    font-size: 32px;
	    line-height: 40px;
	}
	.news_name {
    padding: 20% 0 20% 0;
		font-size: 32px;
		line-height: 40px;
}
.block_news .news_name {
    font-size: 30px;
    line-height: 46px;
    padding: 10% 0 10% 0;
}
	.table {
    font-size: 10px;
}
.table_td {
    padding: 10px 5px;
}
.aside_ul{
	margin-bottom: 20px;
}
}
@media (max-width: 400px) {
	.table{
		overflow-x: auto;
	}
	.block_newses .col-xs-6{
		width: 100%;
	}
	.news_items {
    margin: 10px 0 35px 0;
    min-height: inherit;
}
.mess_group {
    padding-top: 10%;
}
}
